openapi: 3.2.0
info:
  title: STAC Archive Thumbnail API
  version: 2.1.0
servers:
- url: https://api.canopy.umbra.space/archive
security:
- bearerAuth: []
tags:
- name: Thumbnail
paths:
  /thumbnail/{archive_id}:
    get:
      tags:
      - Thumbnail
      summary: Get Thumbnail
      operationId: get_thumbnail
      parameters:
      - name: archive_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Archive Id
      responses:
        '200':
          description: Successful Response
          content:
            image/png: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
